<!-- https://freehtml5.co/preview/?item=multipurpose-free-fully-responsive-website-template-with-cta -->
<div class="container-general">
  <!-- Header Start -->
  <header class="position-absolute w-100">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <img [src]="img_icon_logo" alt="Logo de Domicilios" class="logo" />
        <h1><B>DOMISERVICIOS</B></h1>
        <div class="group d-flex align-items-center">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <button
            class="login-icon d-sm-none btn btn-link p-0"
            style="margin-left: 0.5rem"
            (click)="goToLogin()"
            type="button">
            <i class="size-icon fa fa-user"></i>
          </button>
        </div>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link container-label-headers" href="#"
                >Domicilios</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link container-label-headers" href="#"
                >Encomiendas</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link container-label-headers" href="#"
                >Otros Servicios</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link container-label-headers" href="#"
                >Contactanos</a
              >
            </li>
          </ul>
        </div>
        <div class="container-login d-none d-sm-flex">
          <button
            (click)="openLogin(loginOffcanvas)"
            class="btn btn-outline-danger animate__animated animate__pulse">
            <i class="icon-margin fa fa-user" aria-hidden="true"></i
            ><b>Inicio Sesión</b>
          </button>
        </div>
      </nav>
    </div>
  </header>
  <!-- Header End -->
  <!-- Hero Start -->
  <section class="container-img-landing-page">
    <!-- FORM DOMICILIOS -->
    <app-form-domicilios></app-form-domicilios>
    <img
      class="img-landing"
      [src]="img_background"
      alt="Background Landing Page" />
  </section>
  <section class="services">
    <div class="container">
      <div class="title text-center">
        <!-- <h6>Nuestros servicios</h6> -->
        <h1 class="title-blue" data-aos="fade-down" data-aos-offset="0">
          Nuestros servicios
        </h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-4">
            <div class="media">
              <img
                class="mr-4"
                data-aos="flip-left"
                src="assets/images/service1.png"
                alt="Web Development" />
              <div class="media-body">
                <h2>Web Development</h2>
                Donec volutpat tincidunt neque, vitae lobortis libero mattis sed
                tempus.
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="media">
              <img
                class="mr-4"
                data-aos="flip-left"
                src="assets/images/service2.png"
                alt="Web Development" />
              <div class="media-body">
                <h2>Testing for perfection</h2>
                Donec volutpat tincidunt neque, vitae lobortis libero mattis sed
                tempus.
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="media">
              <img
                class="mr-4"
                data-aos="flip-left"
                src="assets/images/service3.png"
                alt="Web Development" />
              <div class="media-body">
                <h2>Discussion of the idea</h2>
                Donec volutpat tincidunt neque, vitae lobortis libero mattis sed
                tempus.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer Start -->
  <footer>
    <!-- Foot Note Start -->
    <div class="foot-note">
      <div class="container">
        <div
          class="footer-content text-center text-lg-left d-lg-flex justify-content-between align-items-center">
          <p class="mb-0" data-aos="fade-right" data-aos-offset="0">
            Copyright &copy; 2024 Todos los derechos reservados.
          </p>
        </div>
      </div>
    </div>
    <!-- Foot Note End -->
  </footer>
</div>

<!-- Setion Whatsapp -->
<app-chat-whatsapp></app-chat-whatsapp>
<!-- Offcanvas para el login -->
<ng-template #loginOffcanvas let-offcanvas>
  <div class="offcanvas-header">
    <h2>Inicio de Sesión en DOMISERVICIOS</h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <app-login></app-login>
  </div>
</ng-template>

<!-- PUBLICIDAD ESQUINA INFERIOR IZQUIERDA -->
<app-anuncios-util></app-anuncios-util>
