<!-- Loader Start -->
<!-- https://freehtml5.co/preview/?item=multipurpose-free-fully-responsive-website-template-with-cta -->
<div class="css-loader">
  <div
    class="line-scale d-flex align-items-center justify-content-center"></div>
</div>
<!-- Loader End -->
<!-- Header Start -->
<header class="position-absolute w-100">
  <div class="container">
    <!-- <div
      class="top-header d-none d-sm-flex justify-content-between align-items-center">
      <div class="contact"></div>
      <nav class="d-flex aic">
        <ul class="nav social d-none d-md-flex">
          <li>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
        </ul>
        <a href="#" class="login"
          ><i class="fa fa-user" aria-hidden="true"></i>Inicio Sesion</a
        >
      </nav>
    </div> -->
    <nav class="navbar navbar-expand-md navbar-light">
      <img
        src="assets/images/domi-icon.png"
        alt="Logo de Domicilios"
        class="logo" />
      <h1><B>DOMISERVICIOS</B></h1>
      <div class="group d-flex align-items-center">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <button
          class="login-icon d-sm-none btn btn-link p-0"
          style="margin-left: 0.5rem"
          (click)="goToLogin()"
          type="button">
          <i class="size-icon fa fa-user"></i>
        </button>
      </div>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link container-label-headers" href="#">Domicilios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link container-label-headers" href="#">Encomiendas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link container-label-headers" href="#"
              >Otros Servicios</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link container-label-headers" href="#">Contactanos</a>
          </li>
        </ul>
      </div>
      <div class="container-login d-none d-sm-flex">
        <button
          (click)="openLogin(loginOffcanvas)"
          class="btn btn-outline-danger animate__animated animate__pulse">
          <i class="icon-margin fa fa-user" aria-hidden="true"></i
          ><b>Inicio Sesión</b>
        </button>
      </div>
    </nav>
  </div>
</header>
<!-- Header End -->
<!-- Hero Start -->
<section class="container-img-landing-page">
  <div class="form-section p-4 container-menu" style="text-align: center">
    <img
      src="assets/images/domi-icon.png"
      alt="Logo de Domicilios"
      class="logo-form" />
    <h2 class="mb-4">Solicita tu Servicio</h2>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Origen" />
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Destino" />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Descripción del Paquete" />
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Peso (kg)" />
    </div>
    <div class="d-flex justify-content-around mt-4">
      <button class="btn btn-danger btn-lg animate__animated animate__pulse">
        <i class="icon-margin fa fa-calculator" aria-hidden="true"></i>Calcular
        Pedido
      </button>
      <button class="btn btn-success btn-lg animate__animated animate__pulse">
        <i class="icon-margin fa fa-check" aria-hidden="true"></i>Pedir
      </button>
    </div>
  </div>
  <img
    class="img-landing"
    src="assets/images/hero-bg.jpg"
    alt="Web Development" />
</section>
<section class="services">
  <div class="container">
    <div class="title text-center">
      <!-- <h6>Nuestros servicios</h6> -->
      <h1 class="title-blue">Nuestros servicios</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="media">
            <img
              class="mr-4"
              src="assets/images/service1.png"
              alt="Web Development" />
            <div class="media-body">
              <h5>Web Development</h5>
              Donec volutpat tincidunt neque, vitae lobortis libero mattis sed
              tempus.
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="media">
            <img
              class="mr-4"
              src="assets/images/service2.png"
              alt="Web Development" />
            <div class="media-body">
              <h5>Testing for perfection</h5>
              Donec volutpat tincidunt neque, vitae lobortis libero mattis sed
              tempus.
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="media">
            <img
              class="mr-4"
              src="assets/images/service3.png"
              alt="Web Development" />
            <div class="media-body">
              <h5>Discussion of the idea</h5>
              Donec volutpat tincidunt neque, vitae lobortis libero mattis sed
              tempus.
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-6 col-lg-4">
          <div class="media">
            <img
              class="mr-4"
              src="assets/images/service4.png"
              alt="Web Development" />
            <div class="media-body">
              <h5>Modern style</h5>
              Donec volutpat tincidunt neque, vitae lobortis libero mattis sed
              tempus.
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="media">
            <img
              class="mr-4"
              src="assets/images/service1.png"
              alt="Web Development" />
            <div class="media-body">
              <h5>Web Development</h5>
              Donec volutpat tincidunt neque, vitae lobortis libero mattis sed
              tempus.
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="media">
            <img
              class="mr-4"
              src="assets/images/service5.png"
              alt="Web Development"
              data-aos="fade-up"
              data-aos-delay="0"
              data-aos-duration="400" />
            <div class="media-body">
              <h5>Elaboration of the core</h5>
              Donec volutpat tincidunt neque, vitae lobortis libero mattis sed
              tempus.
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
<a
  href="https://api.whatsapp.com/send?phone=3158773030"
  class="btn-wsp"
  target="_blank">
  <i class="fa fa-whatsapp icono" aria-hidden="true"></i>
</a>
<!-- Footer Start -->
<footer>
  <!-- Foot Note Start -->
  <div class="foot-note">
    <div class="container">
      <div
        class="footer-content text-center text-lg-left d-lg-flex justify-content-between align-items-center">
        <p class="mb-0" data-aos="fade-right" data-aos-offset="0">
          Copyright &copy; 2024 Todos los derechos reservados.
        </p>
      </div>
    </div>
  </div>
  <!-- Foot Note End -->
</footer>

<!-- Offcanvas para el login -->
<ng-template #loginOffcanvas let-offcanvas>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Inicio de Sesión</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <app-login></app-login>
  </div>
</ng-template>
