<div class="login-container">
  <div class="login-card animate__animated animate__fadeInDown">
    <div class="login-header">
      <img [src]="img_icon_logo" alt="Logo de Domicilios" class="logo" />
      <h2>Iniciar Sesión</h2>
    </div>
    <div class="align-items-left">
      <form
        class="align-items-left"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label class="align-items-left" for="email">Correo electrónico</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-envelope" aria-hidden="true"></i
            ></span>
            <input
              type="email"
              id="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': emailErrors }"
              formControlName="email"
              placeholder="Ingresa tu correo"
              required />
          </div>
          <div class="text-danger form-text" *ngIf="emailErrors">
            {{ emailErrors }}
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="password">Contraseña</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-key" aria-hidden="true"></i
            ></span>
            <input
              type="password"
              id="password"
              class="form-control"
              formControlName="password"
              placeholder="Ingresa tu contraseña"
              required />
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-success w-100 mb-3 animate__animated animate__pulse">
          Iniciar sesión
        </button>
        <div class="text-center">
          <a href="#" class="text-muted">¿Olvidaste tu contraseña?</a>
        </div>
      </form>
    </div>
  </div>
</div>
